@charset "UTF-8";
footer, header, nav {
  display: block;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* h1 {
  font-size: 2em;
} */

strong {
  font-weight: 700;
}

svg:not(:root) {
  overflow: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F1F7ED;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav {
  display: flex;
  max-width: 95%;
  width: 100%;
  margin: 1% auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #082d0a;
}

h1 {
  font-family: "Spectral SC", sans-serif;
  color: #082d0a;
  letter-spacing: 0.05rem;
  font-weight: 500;
  max-width: 860px;
  font-size: 1.15rem;
  display: block;
  padding-top: 75px;
  margin: 0;
}

h1 span:first-child {
  display: inline-block;
  width: 100%;
}

h1 span.title {
  font-weight: 700;
}

@media (min-width: 394px) {
  h1 {
    font-size: 1.4rem;
  }
}

@media (min-width: 520px) {
  h1 {
    font-size: 1.85rem;
  }
}

@media (min-width: 675px) {
  h1 {
    font-size: 2.1rem;
  }
}
/* 
@media (min-width: 859px) {
  h1 {
    padding-top: 100px;
    font-size: 2.3rem;
  }
}

@media (min-width: 936px) {
  h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1100px) {
  h1 {
    padding-top: 120px;
    font-size: 3rem;
    max-width: 890px;
  }
} */

.title-name {
  font-family: "Mada", sans-serif;
  color: #082d0a;
  letter-spacing: 0.05rem;
  font-weight: 500;
  display: block;
  padding-top: 54px;
  margin: 0;
  font-size: 7em;
  line-height: 1;
}

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-top: 4%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

.left-container {
  width: 45%;
}

.right-container {
  width: 45%;
}

.container-flip {
  display: flex;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 50px;
  top: 8px;
}

@media (min-width: 520px) {
  .container-flip {
    height: 43px;
  }
}

@media (min-width: 675px) {
  .container-flip {
    width: 80%;
    top: 8px;
    height: 49px;
  }
}

/* @media (min-width: 859px) {
  .container-flip {
    top: 10px;
    height: 53px;
  }
}

@media (min-width: 936px) {
  .container-flip {
    height: 60px;
  }
}

@media (min-width: 1100px) {
  .container-flip {
    height: 68px;
  }
} */

.container-flip span {
  padding: 0 0 0 4px;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: rotate-word 20s linear infinite;
          animation: rotate-word 20s linear infinite;
}

.container-flip span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.container-flip span:nth-child(4) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.container-flip span:nth-child(6) {
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}

.container-flip span:nth-child(7) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.container-flip span:nth-child(8) {
  -webkit-animation-delay: 17.5s;
          animation-delay: 17.5s;
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.flip {
  width: 100%;
}

.flip::after {
  content: '';
  display: inline-block;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  background-size: cover;
  width: 28px;
  height: 28px;
}

@media (min-width: 394px) {
  .flip::after {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 394px) {
  .flip::after {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 675px) {
  .flip::after {
    width: 34px;
    height: 34px;
  }
}
/* 
@media (min-width: 859px) {
  .flip::after {
    width: 37px;
    height: 37px;
  }
}

@media (min-width: 936px) {
  .flip::after {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1100px) {
  .flip::after {
    width: 48px;
    height: 48px;
  }
} */

.flip-painting::after {
  background-image: url("../images/artist-palette.png");
}

.flip-pottery::after {
  background-image: url("../images/amphora.png");
}

.flip-brunch::after {
  background-image: url("../images/croissant.png");
}

.flip-crochet::after {
  background-image: url("../images/yarn.png");
}

.flip-beach::after {
  background-image: url("../images/beach.png");
}

.flip-books::after {
  background-image: url("../images/books.png");
}

.flip-dog::after {
  background-image: url("../images/dog.png");
}

.flip-hobbies::after {
  background-image: url("../images/woman-red-hair.png");
}

/* ------------------------------------------------------------- ABOUT  */

section.about {
  background-color: #f6e6e0;
  padding-bottom: 100px;
}

section.about .container-img-profile {
  max-width: 300px;
}

@media (min-width: 700px) {
  section.about .container-img-profile {
    width: 30%;
    margin-top: 20px;
  }
}

@media (min-width: 700px) {
  section.about .container-text {
    width: 70%;
    padding-left: 5%;
  }
}

@media (min-width: 700px) {
  section.about .container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

 /* --------------------------------------------------------- WORK  */

section.work {
  background-color: #7689d8;
  padding-top: 80px;
  padding-bottom: 1px;
}

@media (min-width: 700px) {
  section.work .container-img {
    width: 55%;
    padding-top: 30px;
  }
}

section.work .container-text .container-work-btns {
  margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
  section.work .container-text {
    width: 45%;
    padding-left: 20px;
  }
}

section.work .container-work {
  margin-bottom: 4.2rem;
}

@media (min-width: 700px) {
  section.work .container-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.work .container-work:nth-child(odd) .container-text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-left: 0;
  }
}

section.work .container-icons-mini {
  color: #fff;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section.work .container-icons-mini .box-icon {
  margin-right: 8px;
  position: relative;
}

section.skills-tools {
  background-color: #eeb4aa;
  padding-top: 80px;
}

section.skills-tools p:first-of-type {
  margin-bottom: 50px;
}

.container-icons {
  text-align: center;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-icons .devicon,
.container-icons .fab,
.container-icons .fas {
  color: #fff;
  font-size: 3.5rem;
}

.container-icons .box-icon {
  width: 50%;
  height: 142px;
  margin-bottom: 10px;
}

.container-icons .box-icon p {
  color: #656565;
}

.container-icons .box-icon .fa-js,
.container-icons .box-icon .fa-cogs,
.container-icons .box-icon .fa-terminal,
.container-icons .box-icon .fa-adobe,
.container-icons .box-icon .i-firebase {
  height: 72px;
}

.container-icons .box-icon .i-firebase {
  width: 58px;
}

.container-icons .box-icon .i-responsive {
  width: 70px;
}

.container-icons .box-icon .i-w3c {
  width: 91px;
  min-width: 91px;
}

@media (min-width: 600px) {
  .container-icons .box-icon {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .container-icons .box-icon {
    width: 12.5%;
  }
}

.container-icons .container-img-i {
  display: block;
  width: 50%;
  height: 3.5rem;
  margin: 0 auto;
}

/* ------------------------------------------------------- CONTACT  */
section.contact {
  background-color: #fef2d8;
}

@media (min-width: 800px) {
  section.contact .container-social {
    width: 37%;
    padding: 188px 0 0 35px;
  }
}

@media (min-width: 991px) {
  section.contact .container-social {
    padding: 157px 0 0 40px;
  }
}

@media (min-width: 1006px) {
  section.contact .container-social {
    padding: 126px 0 0 45px;
  }
}

@media (min-width: 800px) {
  section.contact .container-form {
    width: 62%;
  }
}

@media (min-width: 800px) {
  section.contact .container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

section.contact form {
  margin-bottom: 50px;
}

section.contact form .field {
  margin-bottom: -10px;
}

section.contact form label,
section.contact form input,
section.contact form textarea {
  border: 2px solid rgba(72, 216, 164, 0);
  width: 100%;
  display: block;
  padding: 1.2rem .6rem .4rem;
}

section.contact form label::-webkit-input-placeholder,
section.contact form input::-webkit-input-placeholder,
section.contact form textarea::-webkit-input-placeholder {
  color: white;
}

section.contact form label:-ms-input-placeholder,
section.contact form input:-ms-input-placeholder,
section.contact form textarea:-ms-input-placeholder {
  color: white;
}

section.contact form label::-ms-input-placeholder,
section.contact form input::-ms-input-placeholder,
section.contact form textarea::-ms-input-placeholder {
  color: white;
}

section.contact form label::placeholder,
section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: white;
}

section.contact form label:required,
section.contact form input:required,
section.contact form textarea:required {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.contact form label:required:invalid,
section.contact form input:required:invalid,
section.contact form textarea:required:invalid {
  -webkit-box-shadow: 2px 2px #f0535d;
          box-shadow: 2px 2px #f0535d;
}

section.contact form textarea {
  resize: none;
  height: 150px;
}

section.contact form label {
  pointer-events: none;
  height: 26px;
  color: #727272;
  -webkit-transform: translateY(-67px);
          transform: translateY(-67px);
  -webkit-transition: color .2s ease, font-size .2s ease, -webkit-transform .2s ease;
  transition: color .2s ease, font-size .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, color .2s ease, font-size .2s ease;
  transition: transform .2s ease, color .2s ease, font-size .2s ease, -webkit-transform .2s ease;
}

section.contact form label.message {
  -webkit-transform: translateY(-156px);
          transform: translateY(-156px);
}

section.contact form label .required {
  color: #f0535d;
}

section.contact form input:focus,
section.contact form textarea:focus {
  border: 2px solid #48d8a4;
}

section.contact form input:focus::-webkit-input-placeholder,
section.contact form textarea:focus::-webkit-input-placeholder {
  color: #3f3f3f;
}

section.contact form input:focus:-ms-input-placeholder,
section.contact form textarea:focus:-ms-input-placeholder {
  color: #3f3f3f;
}

section.contact form input:focus::-ms-input-placeholder,
section.contact form textarea:focus::-ms-input-placeholder {
  color: #3f3f3f;
}

section.contact form input:focus::placeholder,
section.contact form textarea:focus::placeholder {
  color: #3f3f3f;
}

section.contact form input:focus ~ label,
section.contact form input:valid ~ label,
section.contact form textarea:focus ~ label,
section.contact form textarea:valid ~ label {
  font-size: .7rem;
  color: #48d8a4;
}

section.contact form input:focus ~ label,
section.contact form input:valid ~ label {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

section.contact form textarea:focus ~ label,
section.contact form textarea:valid ~ label {
  -webkit-transform: translateY(-168px);
          transform: translateY(-168px);
}

.container-social-i {
  max-width: 500px;
}

.container-social-i ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-social-i ul a {
  color: #394ff4;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.container-social-i ul a:hover {
  color: #f0535d;
  background-color: transparent;
}

.container-social-i ul li {
  width: 22px;
  height: 22px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.container-social-i ul li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.container-social-i ul svg {
  width: 20px;
  height: 20px;
  fill: #394ff4;
}

.container-social-i ul svg:hover {
  fill: #f0535d;
}

footer {
  text-align: center;
  background-color: #e1b4e5;
  padding: 25px 0 20px;
}

footer p {
  margin: 0;
  font-size: .76rem;
}

/* ------------------------------------------------------- CONTACTFORM  */
.hidden {
  visibility: hidden;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit] {
  background-color: #7CA982;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.form-box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}